[{oz_worker,
     [{http_domain,"onedata.localhost.local"},
      {oz_name,"beta"},
      {verify_oz_cert,false},
      {db_nodes,['node1.onedata.localhost.local:11211']},
      {cm_nodes,['cm@node1.onedata.localhost.local']},
      {dev_mode,false},
      {application_ports,[53,80,443,7443,8443]},
      {external_ip,"90.147.102.149"},
      {covered_dirs,[]},
      {covered_excluded_modules,[]},
      {ozpca_dir,"/var/lib/oz_worker/ozpca"},
      {oz_key_file,"/var/lib/oz_worker/ozpca/oz_key.pem"},
      {oz_cert_file,"/var/lib/oz_worker/ozpca/oz_cert.pem"},
      {rest_port,8443},
      {rest_https_acceptors,50},
      {rest_api_prefix,"/api/v3/onezone"},
      {authorization_macaroon_expiration_seconds,31536000},
      {authentication_macaroon_expiration_seconds,36000},
      {gui_port,443},
      {gui_https_acceptors,100},
      {gui_socket_timeout,60000},
      {gui_max_keepalive,30},
      {gui_cookie_ttl_seconds,3600},
      {gui_key_file,"/etc/oz_worker/certs/gui_key.pem"},
      {gui_cert_file,"/etc/oz_worker/certs/gui_cert.pem"},
      {gui_cacert_file,"/etc/oz_worker/cacerts/gui_cacert.pem"},
      {auth_config_file,"/var/lib/oz_worker/auth.config"},
      {gui_response_headers,[{<<"X-Frame-Options">>,<<"SAMEORIGIN">>}]},
      {gui_custom_static_root,"/var/www/html"},
      {gui_default_static_root,"/var/lib/oz_worker/gui_static"},
      {gui_docs_proxy_enabled,true},
      {gui_docs_static_root,"/docs"},
      {gui_docs_server,"http://172.19.0.1:8080"},
      {gui_redirect_port,80},
      {gui_redirect_acceptors,10},
      {view_def_location,"/var/lib/oz_worker/views/"},
      {history_changes_stream_life_limit_seconds,10},
      {changes_stream_presence_check_interval_seconds,30},
      {wait_for_latest_changes_in_cache,1500},
      {subscriptions_sent_revisions_limit,40},
      {subscription_cache_size,1000},
      {subscription_batch_ttl,2000},
      {subscriptions_wss_port,7443},
      {subscroptions_https_acceptors,50},
      {group_graph_refresh_interval,500},
      {predefined_groups,
          [[{id,<<"admins">>},
            {name,<<"admins">>},
            {oz_api_privileges,{oz_api_privileges,all_privileges}}]]},
      {onepanel_role_to_group_mapping,[{<<"admin">>,[<<"admins">>]}]},
      {onepanel_rest_url,"https://127.0.0.1:9443"},
      {onepanel_user_endpoint,"/api/v3/onepanel/user"}]},
 {sasl,[{sasl_error_logger,false}]},
 {lager,
     [{handlers,
          [{lager_console_backend,info},
           {lager_file_backend,
               [{file,"/var/log/oz_worker/error.log"},
                {level,error},
                {size,1048576000},
                {date,"$M1D1"},
                {count,1000}]},
           {lager_file_backend,
               [{file,"/var/log/oz_worker/info.log"},
                {level,info},
                {size,104857600},
                {date,"$W5D23"},
                {count,100}]},
           {lager_file_backend,
               [{file,"/var/log/oz_worker/debug.log"},
                {level,debug},
                {size,10485760},
                {date,"$D0"},
                {count,10}]}]},
      {error_logger_hwm,200},
      {async_threshold,500},
      {async_threshold_window,50}]},
 {cluster_worker,
     [{datastore_config_plugin,datastore_config_plugin},
      {node_manager_plugin,node_manager_plugin},
      {dns_worker_plugin,dns_worker_plugin},
      {dns_port,53},
      {edns_max_udp_size,1280},
      {dns_tcp_acceptor_pool_size,20},
      {dns_tcp_timeout,20},
      {dns_config_file,"/var/lib/oz_worker/dns.config"}]}].