[{sasl,[{sasl_error_logger,false}]},
 {lager,
     [{colored,true},
      {handlers,
          [{lager_console_backend,info},
           {lager_file_backend,
               [{file,"/var/log/oz_worker/error.log"},
                {level,error},
                {size,52428800},
                {count,10}]},
           {lager_file_backend,
               [{file,"/var/log/oz_worker/info.log"},
                {level,info},
                {size,52428800},
                {count,10}]},
           {lager_file_backend,
               [{file,"/var/log/oz_worker/debug.log"},
                {level,debug},
                {size,52428800},
                {count,10}]}]},
      {error_logger_hwm,200},
      {async_threshold,500},
      {async_threshold_window,50}]},
 {erldns,
     [{servers,
          [[{name,inet_all_1},
            {address,"0.0.0.0"},
            {port,53},
            {family,inet},
            {processes,2}]]},
      {dnssec,[{enabled,true}]},
      {use_root_hints,false},
      {catch_exceptions,false},
      {zones,"/var/lib/oz_worker/empty_zones.erldns.json"},
      {pools,
          [{tcp_worker_pool,erldns_worker,[{size,10},{max_overflow,20}]}]}]},
 {cluster_worker,
     [{datastore_config_plugin,datastore_config_plugin},
      {node_manager_plugin,node_manager_plugin},
      {identity_repository,located_rest_identity_repository},
      {couchbase_changes_batch_size,3},
      {couchbase_changes_update_interval,1000},
      {couchbase_changes_stream_batch_size,3},
      {couchbase_changes_stream_update_interval,1000},
      {datastore_cache_size,[{memory,200000},{disc,500000}]},
      {throttling_delay_db_queue_size,20000},
      {throttling_db_queue_limit,150000}]},
 {oz_worker,
     [{dev_mode,false},
      {application_ports,[53,80,443,7443,7770,7771,8443]},
      {http_domain,"oz-dns-test.tk"},
      {external_ip,"149.156.10.213"},
      {oz_name,"Example Zone"},
      {admin_emails,["info@onedata.org"]},
      {covered_dirs,[]},
      {covered_excluded_modules,[]},
      {ozpca_dir,"/var/lib/oz_worker/ozpca"},
      {generate_web_cert_if_absent,true},
      {test_web_cert_ca_path,
          "/etc/oz_worker/cacerts/OneDataTestWebServerCa.pem"},
      {cacerts_dir,"/etc/oz_worker/cacerts"},
      {web_key_file,"/etc/oz_worker/certs/web_key.pem"},
      {web_cert_file,"/etc/oz_worker/certs/web_cert.pem"},
      {rest_port,8443},
      {rest_https_acceptors,50},
      {rest_api_prefix,"/api/v3/onezone"},
      {authorization_macaroon_expiration_seconds,31536000},
      {authentication_macaroon_expiration_seconds,36000},
      {gui_port,443},
      {gui_https_acceptors,100},
      {gui_socket_timeout,60000},
      {gui_max_keepalive,30},
      {gui_cookie_ttl_seconds,3600},
      {auth_config_file,"/var/lib/oz_worker/auth.config"},
      {saml_config_file,"/var/lib/oz_worker/saml.config"},
      {state_token_ttl_secs,300},
      {gui_response_headers,[{<<"X-Frame-Options">>,<<"SAMEORIGIN">>}]},
      {gui_default_static_root,"/var/lib/oz_worker/gui_static"},
      {gui_custom_static_root,"/var/www/html/oz_worker"},
      {gui_docs_proxy_enabled,true},
      {gui_docs_static_root,"/docs"},
      {gui_docs_server,"http://172.17.0.2:8080"},
      {gui_redirect_port,80},
      {gui_redirect_acceptors,10},
      {db_nodes,['node1.onezone.:11211']},
      {view_def_location,"/var/lib/oz_worker/views/"},
      {gs_server_stream_healthcheck_interval,5000},
      {dns,
          [{static_entries,[]},
           {ns_limit,2},
           {soa_admin_mailbox,"dns-admin.onedata.org"},
           {soa_serial,2017090401},
           {soa_refresh,7200},
           {soa_retry,1800},
           {soa_expire,1209600},
           {soa_minimum,120},
           {a_ttl,120},
           {ns_ttl,120},
           {soa_ttl,120}]},
      {location_service_enabled,false},
      {location_service_port,7770},
      {location_service_rest_port,7771},
      {location_service_bootstrap_nodes,['onedata.org:7770']},
      {location_service_lib_path,"/usr/lib/oz_worker/lib/location-service"},
      {location_service_log_level,2},
      {public_key_refresh_interval_seconds,600},
      {identity_key_file,"/var/lib/oz_worker/ozpca/identity_key.pem"},
      {identity_cert_file,"/var/lib/oz_worker/ozpca/identity_cert.pem"},
      {enable_automatic_first_space,false},
      {minimum_space_support_size,1000000},
      {predefined_groups,
          [#{id => <<"admins">>,
             name => <<"Admins">>,
             oz_privileges => {privileges,oz_privileges}},
           #{id => <<"all_users">>,name => <<"All users">>,oz_privileges => []}]},
      {enable_global_groups,false},
      {global_groups,[{<<"all_users">>,[]}]},
      {onepanel_role_to_group_mapping,#{<<"admin">> => [<<"admins">>]}},
      {onepanel_rest_url,"https://127.0.0.1:9443"},
      {onepanel_users_endpoint,"/api/v3/onepanel/users/"},
      {smtp_client_config,
          #{password => "password",
            relay => "smtp.gmail.com",
            username => "username@gmail.com"}},
      {oai_pmh_api_prefix,"/oai_pmh"},
      {cm_nodes,['cluster_manager@node1.onezone.']}]}].